<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
<h1><%= title %></h1>
<form id="registration-form" action="/account/register" method="post">

  <label for="accountFirstName">First Name</label>
  <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">

  <label for="accountLastName">Last Name</label>
  <input type="text" id="accountLastName" name="account_lastname" required value="<%= locals.account_lastname %>">

  <label for="accountEmail">Email</label>
  <input type="email" id="accountEmail" name="account_email" required value="<%= locals.account_email %>">

  <label for="accountPassword">Password:</label>
  <span class="password-rules">
    Must be at least 12 characters and include a capital letter, a number, and a special character
  </span>
  <input type="password" id="accountPassword" name="account_password" required
         pattern="^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\\s).{12,}$">

  <button type="submit">Register</button>
</form>